@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

body {
    text-align: center;
    background-image: url('../imagens/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    height: 96vh;
}

#conteudo {
    display: inline-block;
    padding: 15px;
    position: relative;
}

#informacoes {
    display: block;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 400px;
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(3px, 3vw, 25px);
}

.pokemon_name {
    color: black;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    font-size: clamp(3px, 3vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: black;
    box-shadow: -2px 3px 0 #111, -4px 6px 0 #222;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.fundoStatus {
    width: 100%;
    background-color: #111;
    padding-bottom: 3%;
    padding-top: 2%;
    display: block;
}

#tituloForm {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    display: block;
    color: aliceblue;
    width: 70%;
    font-size: 250%;

}

.status,
fieldset {

    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

fieldset {
    padding-bottom: 2%;
    padding-top: 2%;
    border-color: white;
    border-radius: 5px;
    background: linear-gradient(to bottom, #474242, #575f68);

}

.texto {
    font-size: 130%;
    color: rgb(36, 201, 85);
    font-weight: bold;
}

#bloco1 {
    text-align: justify;
    padding-left: 5%;
    float: left;
}

#bloco2 {
    text-align: justify;
    display: block;
    margin-left: 23%;
    margin-right: 45%;
    font-size: 97%;
}

.texto {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
}

.pokemon_hp,
.pokemon_ataque,
.pokemon_defesa,
.pokemon_ataqueEspecial,
.pokemon_defesaEspecial,
.pokemon_velocidade {
    font-size: 115%;
    color: white;
}

.pokemon_image2 {
    display: inline-block;
    padding: 0;
    margin-right: 20%;
    margin-top: -2%;
    width: 18%;
    float: right;
}

@media (max-width:1034px) {
    p {
        font-size: 230%;
    }

    .pokedex {
        width: 98%;
    }

    #tituloForm {
        font-size: 230%;
    }

    .status {
        width: 98%;
    }
}

@media (max-width:952px) {
    p {
        font-size: 210%;
    }

    .pokedex {
        width: 95%;
    }

    #tituloForm {
        font-size: 210%;
    }

    .status {
        width: 95%;
    }
}

@media (max-width:858px) {
    p {
        font-size: 190%;
    }

    .pokedex {
        width: 90%;
    }

    .input_search {
        width: 90%;
    }

    .buttons {
        width: 60%;
    }

    #tituloForm {
        font-size: 190%;
    }

    .status {
        width: 90%;
    }
}

@media (max-width:774px) {
    p {
        font-size: 170%;
    }

    .pokedex {
        width: 85%;
    }

    .pokemon_data {
        right: 29%;
    }

    #tituloForm {
        font-size: 170%;
    }

    .status {
        width: 85%;
    }

    #bloco2 {
        margin-left: 30%;
        margin-right: 25%;
    }

    .pokemon_image2 {

        margin-right: 10%;

    }
}

@media (max-width:691px) {
    p {
        font-size: 140%;
    }

    .pokedex {
        width: 75%;
    }

    .input_search {
        width: 75%;
    }

    .buttons {
        width: 50%;
    }

    .pokemon_data {
        right: 32%;
    }

    #tituloForm {
        font-size: 140%;
    }

    .status {
        width: 75%;
    }

    .texto {
        font-size: 110%;
    }

    .pokemon_hp,
    .pokemon_ataque,
    .pokemon_defesa,
    .pokemon_ataqueEspecial,
    .pokemon_defesaEspecial,
    .pokemon_velocidade {
        font-size: 95%;
    }

}

@media (max-width:571px) {
    p {
        font-size: 120%;
    }

    .pokedex {
        width: 67%;
    }

    .input_search {
        width: 67%;
    }

    .buttons {
        width: 40%;
    }

    .pokemon_data {
        right: 35%;
    }

    #tituloForm {
        font-size: 120%;
    }

    .texto {
        font-size: 90%;
    }

    .pokemon_hp,
    .pokemon_ataque,
    .pokemon_defesa,
    .pokemon_ataqueEspecial,
    .pokemon_defesaEspecial,
    .pokemon_velocidade {
        font-size: 75%;
    }
}

@media (max-width:490px) {
    p {
        font-size: 100%;
    }

    .input_search {
        width: 64%;
    }

    .buttons {
        width: 40%;
    }

    .button {
        border: none;
        border-radius: none;
        box-shadow: none;
    }

    #tituloForm {
        font-size: 100%;
    }

    .texto {
        font-size: 70%;
    }

    .pokemon_hp,
    .pokemon_ataque,
    .pokemon_defesa,
    .pokemon_ataqueEspecial,
    .pokemon_defesaEspecial,
    .pokemon_velocidade {
        font-size: 55%;
    }
}

@media (max-width:381px) {
    .button {
        width: 40%;
        padding: 0px;
    }
}