@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

body {
    text-align: center;
    height: 100vh;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    height: 100%;
}

.fundoStats,
#verMais,
.fundoConteudo {
    width: 60%;
    min-width: 300px;
}

.fundoConteudo {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #1dc6e4, #e3f4f7);
    margin-bottom: 5px;
}

#conteudo {
    display: inline-block;
    padding: 15px;
    position: relative;
}

.pokedex_img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
}

.pokedex {
    margin-left: auto;
    margin-right: auto;
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    width: 22%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 53.5%;
    right: 26%;
    font-size: clamp(3px, 3vw, 25px);
}

.pokemon_name {
    color: black;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    color: black;
    font-size: clamp(3px, 3vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px #333;
}

.buttons {
    width: 100%;
    position: absolute;
    bottom: 11%;
    left: 55%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.btn-prev {
    margin-left: 18%;
}

.button {
    width: 28%;
    padding: 4%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(5px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: black;
    box-shadow: -2px 3px 0 #111, -4px 6px 0 #222;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#verMais {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    color: #fff;
    background-color: #111;
    font-size: 130%;
    font-weight: bold;
    height: 10%;
}

#verMais:hover {
    cursor: pointer;
    border: 2px;
    background-color: #575f68;
}

.fundoStats {
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    padding-bottom: 3%;
    padding-top: 2%;
    margin-top: 0.2%;
}

#tituloForm,
fieldset {
    width: 85%;
}

#tituloForm {

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    color: aliceblue;
    font-size: 220%;

}

fieldset {
    display: none;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    border-color: white;
    border-radius: 5px;
    background: linear-gradient(to bottom, #474242, #575f68);

}

/*ORGANIZA O QUE TEM DENTRO DE STATS*/
.texto {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(36, 201, 85);
    font-weight: bold;
    font-size: 120%;
}

.bloco1 {
    width: 30%;
    text-align: justify;
    padding-left: 5%;
    float: left;
    display: none;
}

.bloco2 {
    width: 50%;
    text-align: justify;
    display: block;
    margin-left: 23%;
    margin-right: 45%;
    display: none;
}

.pokemon_hp,
.pokemon_ataque,
.pokemon_defesa,
.pokemon_ataqueEspecial,
.pokemon_defesaEspecial,
.pokemon_velocidade {
    font-size: 115%;
    color: white;
}

.pokemon_image2 {
    display: none;
    padding: 0;
    margin-right: 10%;
    margin-top: -2%;
    width: 17%;
    float: right;
}

/*FIM ORGANIZA STATS

/*DEIXANDO RESPOSIVO */
@media (max-width:1024px) {

    .fundoStats,
    #verMais,
    .fundoConteudo {
        width: 80%;
    }

    .bloco1 {
        width: 60%;
    }

    .bloco2 {
        width: 60%;
        padding-top: 15%;
        margin-left: 5%;
    }

    .pokemon_image2 {
        left: 25%;
        right: 15%;
        transform: translate(-45%, 22%);
        width: 25%;
    }
}

@media (max-width:790px) {

    .fundoStats,
    #verMais,
    .fundoConteudo {
        width: 90%;
    }

    .pokemon_data {
        font-size: 125%;
    }
}

@media (max-width:600px) {
    main {
        width: 85%;
    }

    .fundoStats,
    #verMais,
    .fundoConteudo {
        width: 100%;
    }
}

@media (max-width:500px) {
    main {
        width: 100%;
    }

    .fundoStats,
    #verMais,
    .fundoConteudo {
        width: 100%;
    }
}

@media (max-height: 578px) {
    fieldset {
        padding-bottom: 2%;
    }

    .bloco1 {
        width: 30%;
        float: left;
        font-size: 80%;
    }

    .bloco2 {
        font-size: 79%;
        width: 50%;
        margin-left: 23%;
        margin-right: 45%;
        margin-top: -15%;
    }

    .pokemon_image2 {
        margin-right: 10%;
        margin-top: -5%;
        width: 15%;
        padding-bottom: 5%;
    }
}

@media (max-width:320px) {
    #tituloForm {
        font-size: 180%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .pokemon_image2 {
        margin-right: -2%;
        margin-top: -4%;
        width: 20%;
        padding-bottom: 5%;
    }

    .texto {
        font-size: 100%;
    }

    .pokemon_hp,
    .pokemon_ataque,
    .pokemon_defesa,
    .pokemon_ataqueEspecial,
    .pokemon_defesaEspecial,
    .pokemon_velocidade {
        font-size: 95%;
    }
}